# Runtime dependencies
flask~=2.3
sqlalchemy~=2.0
opencv-contrib-python~=4.8
numpy~=1.26
nltk~=3.8
imutils~=0.5.4
wordcloud~=1.9
beautifulsoup4~=4.12
requests~=2.31
Werkzeug~=2.3

# Test dependencies
pytest~=7.4
pytest-cov~=4.1
